@charset "UTF-8";

* {

    padding: 0px;
    margin: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {

    height: 100vh;
    width: 100vw;

    background-color: rgb(161, 8, 161);
}

main {

    position: relative;

    height: 100vh;
    width: 100vw;

    
}

section#login {

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    width: 250px;
    height: 500px;
    
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.666);
    overflow: hidden;
}

section#login > div#imagem {

    background-color: blueviolet;

    background:url(../imagens/pexels-alberto-salum-1784034021-28626097.jpg) no-repeat;
    background-size:contain;


    height: 200px;
}

section#login > div#formulario {

    padding: 10px;
}
