@charset "UTF-8";

* {

    padding: 0px;
    margin: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {

    height: 100vh;
    width: 100vw;

    background-color: rgb(9, 113, 210);
    
}

main {

    position: relative;

    height: 100vh;
    width: 100vw;

}

section#login {

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;

    width: 250px;
    height: 500px;
    
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.666);
    overflow: hidden;
   
    transition: 0.3s;
}

section#login > div#imagem {

    background-color: blueviolet;

    background:url(../imagens/pexels-alberto-salum-1784034021-28626097.jpg) no-repeat;
    background-size:contain;
    


    height: 200px;
    display: block;
}

section#login > div#formulario {

    display: block;
    padding: 10px;
}

div#formulario > h1 {

    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {

    font-size: 0.8em;

}
